@import '../../../styles/variables.scss';

.card {
  position: relative;
  width: 305px;
  padding: 36px 80px 64px;
  border-radius: 10px;
  box-shadow: 0px 0.996px 3.984px 0px rgba(51, 51, 51, 0.15);
  cursor: pointer;
  transition: box-shadow .4s;
  &:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.2);
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  &__favorite {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 28px;
    border-radius: 4px;
    background: #ebebeb;
    background-image: url(../../../images/unlike.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity .4s, scale .4s;
    &:hover {
      scale: 1.5;
      opacity: 0.7;
    }
    &_active {
      background-image: url(../../../images/like.svg);
    }
  }

  &__image {
    border-radius: 50%;
  }
}
