@import '../../../styles/variables.scss';
@import '../../../styles/media.scss';

.header {
  position: relative;
  width: 100%;
  min-height: 265px;
  background-color: $Violet;
  padding: 32px 0 64px;
  @include tablet {
    padding-top: 12px;
  }
  &__menu {
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
    margin: auto;
    @include tablet {
      width: calc(100% - 32px);
    }
  }
  &__button {
    width: 81px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid $Gray_light;
    background-color: transparent;
    color: $Gray_light;
    @include tablet {
      background-image: url(../../../images/exit.svg);
      width: 40px;
      height: 40px;
      border: none;
      font-size: 0;
    }
  }
  &__button_back {
    opacity: 0;
    &_visible {
      opacity: 1;
    }
    @include tablet {
      background-image: url(../../../images/back.svg);
      width: 40px;
      height: 40px;
      border: none;
      font-size: 0;
    }
  }
  &__describe {
    width: 70%;
    margin: auto;
    color: $White;
  }
  &__title {
    text-align: center;
    margin-bottom: 16px;
    @include tablet {
      font-size: 36px;
    }
  }
  &__subtitle {
    text-align: center;
    @include tablet {
      font-size: 16px;
    }
  }
}

.person {
  display: flex;
  width: 78%;
  @include desktop {
    width: auto;
    flex-direction: column;
  }
  @include tablet {
    flex-direction: column;
    text-align: center;
  }
  &__photo {
    border-radius: 50%;
    @include tablet {
      margin: 16px auto 0;
      order: 2;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 29px 0 29px 32px;
    color: $White;
    @include tablet {
      margin: 40px 0 0 0;
      order: 1;
    }
  }
  &__name {
    @include tablet {
      font-size: 36px;
    }
  }
  &__job {
    @include tablet {
      font-size: 20px;
    }
  }
}
