@import '../styles/variables.scss';

.content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 160px);
  margin: 48px auto 69px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  &__button {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid $Black;
    background-color: transparent;
    width: 170px;
    height: 40px;
    font-size: 16px;
    line-height: 21.79px;
    margin: 65px auto 0;
  }

  &__arrow {
    width: 24px;
    height: 24px;
    background-image: url(../images/down-array.svg);
    background-repeat: no-repeat;
  }
}
